/* ======================================================
  CSS FILE
=========================================================*/

/* 
  Load Custom Fonts
*/

@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik/GraphikRegular.otf);
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url(../fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff);
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url(../fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff);
}

@font-face {
  font-family: "GT Walsheim Pro Thin";
  src: url(../fonts/GTWalsheimPro/GTWalsheimPro-Thin.woff);
}

@font-face {
  font-family: "GT Walsheim Pro BoldOblique";
  src: url(../fonts/GTWalsheimPro/GTWalsheimPro-BoldOblique.eot);
}

/* NORMALIZE CSS */
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

/* Fix H1 maring and Font Size */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}
button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* CSS VARIABLES */
:root {
  --black-color: #3f403f;
  --gray-color: #9b9b9b;
  --light-gray: #e5e5e5;
  --lighter-gray: #f4f5f9;
  --white-color: #ffffff;
  --green-color: #06942a;
  --light-green: rgba(6, 148, 42, 0.2);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Graphik;
  font-size: 16px;
  color: var(--black-color);
  background-color: var(--white-color);
  overflow-x: hidden;
  line-height: 32px;
}

input,
button {
  padding: 15px 25px;
  background-color: var(--white-color);
  border: 1px solid var(--light-gray);
  font-family: inherit;
  font-size: inherit;
}
input::placeholder {
  color: var(--gray-color);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--black-color);
}

/* HEADER CSS */
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.563rem 0px;
  align-items: center;
}

.link-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}
.link-list > .link {
  margin: 0px;
}

.link-list > .link {
  margin-right: 2rem;
}

.link-list > .link:last-child {
  margin-right: 0rem;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: auto;
}

.link-btn {
  background-color: var(--light-green);
  border-radius: 50px;
  /* width: 160px; */
  padding: 10px 50px;
  text-align: center;
  font-weight: bold;
}
.link-btn > a {
  color: var(--green-color);
}

.hero {
  position: relative;
  min-height: 1000px;
  /* overflow: auto; */
}

.hero-container {
  margin-top: 50px;
}

.hero-description {
  /* background-color: red; */
}
.description-title {
  font-family: "GT Walsheim Pro Bold";
  font-weight: bold;
  font-size: 48px;
}
.description-title > .title-green {
  color: var(--green-color);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-container > div {
  width: 50%;
}

.image-container > img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 100%;
}
.hero-image {
  display: flex;
  justify-content: flex-end;
}
.image-container {
  width: 100%;
  background-image: url(../img/hero-image.png);
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
}

.image-border {
  width: 80%;
  height: 700px;
  border: 2px solid var(--green-color);
  border-radius: 20px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}
.hero-form {
  display: flex;
}

.hero-search {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
  width: 60%;
}

.hero-location {
  border-right: none;
  border-left: none;
}
.hero-btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--green-color);
  color: var(--white-color);
  text-align: center;
  border: 1px solid var(--green-color);
}

.location-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  border: 1px solid var(--light-gray);
  border-right: none;
  background-color: var(--white-color);
}

.company-title {
  font-weight: bold;
  margin: 40px 0px;
}

.companies-logo {
  display: flex;
  align-items: center;
}

.companies-logo > .company-logo {
  margin-right: 2rem;
}

.companies-logo > .company-logo:last-child {
  margin-right: 0rem;
}

.hero-curve {
  height: 100%;
  width: 65%;
  background: rgb(243, 246, 247);
  background: linear-gradient(
    137deg,
    rgba(243, 246, 247, 1) 0%,
    rgba(242, 249, 244, 1) 20%
  );
  border-radius: 50px;
  transform: rotate(-2deg) translate(-6px, 3px) skew(-2deg, 10deg);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transform: rotate(-2deg) translate(-6px, 3px) skew(-2deg, 10deg);
  -moz-transform: rotate(-2deg) translate(-6px, 3px) skew(-2deg, 10deg);
  -ms-transform: rotate(-2deg) translate(-6px, 3px) skew(-2deg, 10deg);
  -o-transform: rotate(-2deg) translate(-6px, 3px) skew(-2deg, 10deg);
  position: absolute;
  top: -100px;
  z-index: -1;
}

.recommended-jobs {
  margin-top: 120px;
}

.recommended-jobs > .recommended-job-title {
  font-family: "GT Walsheim Pro Bold";
  font-weight: bold;
  font-size: 36px;
}
.jobs {
  display: flex;
  flex-direction: row;
  position: relative;
  /* right: 200px; */
}

.job-card {
  width: 320px;
  min-width: 350px;
  padding: 20px 0px;
  box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jobs > .job-card {
  margin-right: 3rem;
}

.jobs > .job-card:last-child {
  margin-right: 0rem;
}

.job-card .card-header {
  display: flex;
  justify-content: flex-end;
}

.overflow-show {
  /* overflow: auto; */
}
.card-margin {
  margin: 0px 30px;
}
.card-header-title {
  background-color: var(--lighter-gray);
  padding: 8px 30px;
  color: var(--gray-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-body {
  text-align: center;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  margin-top: 40px;
  font-weight: bold;
}

.card-footer {
  border-top: 1px solid var(--light-gray);
  padding: 20px 0px;
}
.company-name {
  font-weight: bold;
}

.card-links,
.card-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.card-apply > a {
  color: var(--green-color);
  font-weight: bold;
  padding: 8px 20px;
  display: block;
  border-radius: 20px;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.card-apply > a:hover {
  background-color: var(--light-green);
}

.card-paging {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.how-it-works {
  display: flex;
  max-height: 1000px;
  gap: 80px;
  margin-top: 150px;
}

.how-it-works-card {
  width: 50%;
}

.how-it-works-images {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.how-it-works-image-holder {
  width: 90%;
  box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.08);
  margin-bottom: 50px;
}
.how-it-works-image-holder img {
  width: 100%;
}
.how-it-works-card,
.how-it-works-image-holder,
.how-it-works-image-holder img {
  border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -ms-border-radius: 20px 20px 0px 0px;
  -o-border-radius: 20px 20px 0px 0px;
}
.how-it-works-card:nth-child(2) .how-it-works-image-holder,
.how-it-works-card:nth-child(3) .how-it-works-image-holder {
  position: relative;
  left: 10%;
}

.how-it-works-descriptions {
  width: 35%;
  /* background-color: red; */
}
.how-it-works-title,
.categories-title {
  font-family: "GT Walsheim Pro Bold";
  font-weight: bold;
  font-size: 36px;
}
.how-it-works-image-title {
  font-weight: bold;
  text-align: center;
  padding: 20px 0px;
}

.how-it-works-content {
  padding-top: 30px;
}

.feature-name {
  font-family: "GT Walsheim Pro Thin";
  font-size: 24px;
}
.feature-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--light-green);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.feature-circle img {
  position: absolute;
  right: -5px;
}

.feature-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.how-it-works-feature {
  margin-bottom: 20px;
}

.how-it-works-image-title a {
  color: var(--green-color);
}
.catgories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.categories-title {
  text-align: center;
  margin: 50px 0px;
}

.category-card {
  padding: 50px 0px;
  width: 22%;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-logo {
  background-color: var(--light-green);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.category-name {
  font-weight: bold;
  margin: 5px 0px;
}

.category-job-count {
  font-size: 14px;
  color: var(--gray-color);
}

.client-companies {
  display: flex;
  padding-top: 150px;
  padding-bottom: 350px;
  background-color: var(--light-green);
  margin-top: 100px;
  justify-content: space-between;
}

.client-companies-decription {
  width: 60%;
  padding: 0px 100px;
}
.client-companies-title {
  font-family: "GT Walsheim Pro Bold";
}

.client-companies-learn-more {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.client-companies-learn-more a {
  color: var(--green-color);
  font-weight: bold;
  height: 28px;
  display: block;
  border-bottom: 10px solid var(--light-green);
}
.client-companies-logos {
  width: 30%;
  position: relative;
}

.client-logo {
  background-color: white;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}
.client-logo:nth-child(3) {
  right: 0px;
  top: 0px;
}

.client-logo:nth-child(2) {
  right: 35%;
  top: 100px;
}
.client-logo:nth-child(4) {
  top: 200px;
}
.client-logo:nth-child(5) {
  top: 300px;
  right: 40%;
}

.client-logo:nth-child(6) {
  top: 200px;
  right: 5%;
}

.client-logo:nth-child(7) {
  top: 400px;
  left: 5%;
}

.client-logo:nth-child(8) {
  top: 400px;
  right: 10%;
}

.testimonials {
  margin-top: 100px;
}
.testimonials-title {
  max-width: 470px;
  font-family: "GT Walsheim Pro Bold";
  margin-bottom: 50px;
}

.testimonial-slider {
  display: flex;
}

.testimonial-image-container {
  width: 30%;
  position: relative;
}
.testimonial-image-container .testimonial-image,
.testimonial-image-container .testimonial-image-border {
  width: 90%;
  height: 100%;
}
.testimonial-image img {
  width: 100%;
}

.testimonial-image-border {
  border: 2px solid var(--green-color);
  position: absolute;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  top: 10px;
  left: 20px;
  z-index: -1;
}

.testimonial-content {
  width: 70%;
  padding: 40px 80px;
}
.testimonial-message {
  margin: 60px 0px;
  margin-bottom: 40px;
  position: relative;
}
.testimonial-message::before {
  content: "“";
  font-family: "GT Walsheim Pro";
  font-size: 250px;
  color: var(--light-green);
  position: absolute;
  left: -2%;
  top: 50px;
  margin: 0px;
  padding: 0px;
}
.client-name {
  color: var(--black-color);
}
.client-position {
  font-size: 18px;
  color: var(--gray-color);
}
.testimonial-swiper .prev img {
  width: 40px;
}
.testimonial-swiper .next img {
  width: 40px;
}

.get-started-banner {
  background-image: url(../img/get-job-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 50px;
  box-shadow: inset 0 0 0 2000px rgba(122, 122, 122, 0.37);
  display: flex;
  margin-top: 100px;
  justify-content: flex-end;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: var(--white-color);
  font-weight: bold;
}

.get-started {
  width: 50%;
}

.get-started-title {
  font-family: "GT Walsheim Pro";
  font-size: 48px;
}

.get-started-btn {
  background-color: var(--green-color);
  border: none;
  padding: 15px 60px;
  color: var(--white-color);
  font-weight: bold;
  font-family: inherit;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.get-job-footer {
  border-top: 1px solid var(--light-gray);
  margin-top: 100px;
}

.footer-container {
  display: flex;
  margin-top: 40px;
}
.footer-container > div {
  width: 20%;
}

.links-header {
  font-weight: bold;
}
.footer-links > ul,
.footer-links > ul > li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-copyright {
  text-align: center;
  margin-top: 30px;
}
.socials {
  display: flex;
  gap: 10px;
}

.socials > div {
  width: 40px;
  height: 40px;
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
